/* form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 7px;
} */

.blogs-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.button {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.button div:hover {
    background-color: #fff !important;
}

.button div:hover .send, .button div:hover .envelop {
    color: #6b21a8 !important;
}