/* nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding:0;
}

nav .activeLink, nav :not(.activeLink){
    padding: 10px;
    text-decoration: none;
    color: rgb(87, 3, 87);
    border-bottom: 4px solid #fff;
    transition: 0.1s;
    font-weight: 500;
}

nav .activeLink {
    border-bottom: 4px solid rgb(87, 3, 87);
}

nav :active {
    color: rgb(87, 3, 87);
}
 */